* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
	list-style: none;
}

hr {
  margin: 0;
}

img {

  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

body {
	font-family: 'Crimson Text', serif;
	font-size: 1.125rem;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background: #fff;
	height: 100%;
}

h1 {
  font-size: 1.25rem;
  margin: 0;
}

h2 {
	font-size: 1.150rem;
	text-align: center;
}

a {
	color: #000;
	transition: all .2s ease-in;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease in;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #9bcde8;
}

#container {
	background: url(../images/fleck-white.gif) fixed repeat center center;
  margin-left: 1.75vw;
  margin-right: 1.75vw;
}

/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/

/*
==============================================
dropdown
==============================================
*/

.dropdown {
  margin-top: 300px;
  margin-left: 12px;
  position: absolute;
  animation-name: dropdown;
  -webkit-animation-name: dropdown;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  visibility: visible !important;
}

@media screen and (min-width: 1500px) {
  .dropdown {
    margin-left: 170px;
  }
}

@media screen and (min-width: 1100px) {
  .dropdown {
    margin-left: 70px;
  }
}

@media screen and (max-width: 805px) {
  .dropdown {
    display: none;
  }
}

@keyframes dropdown {
	0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 500%, 0);
            transform: translate3d(0, 500%, 0);
  }
}

@-webkit-keyframes dropdown {
	 0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 500%, 0);
            transform: translate3d(0, 500%, 0);
  }
}

.dropdown2 {
  margin-top: 410px;
  margin-left: 80px;
  position: absolute;
  animation-name: dropdown2;
  -webkit-animation-name: dropdown2;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  visibility: visible !important;
}

@media screen and (min-width: 1500px) {
  .dropdown2 {
    margin-left: 230px;
  }
}

@media screen and (min-width: 1100px) {
  .dropdown2 {
    margin-left: 130px;
  }
}

@media screen and (max-width: 805px) {
  .dropdown2 {
    display: none;
  }
}

@keyframes dropdown2 {
	0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 250%, 0);
            transform: translate3d(0, 250%, 0);
  }
}

@-webkit-keyframes dropdown2 {
	 0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 250%, 0);
            transform: translate3d(0, 250%, 0);
  }
}

.dropdown3 {
  margin-top: 460px;
  margin-left: 15px;
  position: absolute;
  animation-name: dropdown3;
  -webkit-animation-name: dropdown3;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  visibility: visible !important;
}

@media screen and (min-width: 1500px) {
  .dropdown3 {
    margin-left: 200px;
  }
}

@media screen and (min-width: 1100px) {
  .dropdown3 {
    margin-left: 100px;
  }
}

@media screen and (max-width: 805px) {
  .dropdown3 {
    display: none;
  }
}

@keyframes dropdown3 {
	0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 450%, 0);
            transform: translate3d(0, 450%, 0);
  }
}

@-webkit-keyframes dropdown3 {
	 0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 450%, 0);
            transform: translate3d(0, 450%, 0);
  }
}

.dropdown4 {
  margin-top: 580px;
  margin-left: 40px;
  position: absolute;
  animation-name: dropdown4;
  -webkit-animation-name: dropdown4;
  animation-duration: 1.3s;
  -webkit-animation-duration: 1.3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  visibility: visible !important;
}

@media screen and (min-width: 1500px) {
  .dropdown4 {
    margin-left: 190px;
  }
}

@media screen and (min-width: 1100px) {
  .dropdown4 {
    margin-left: 90px;
  }
}

@media screen and (max-width: 805px) {
  .dropdown4 {
    display: none;
  }
}

@keyframes dropdown4 {
	0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 450%, 0);
            transform: translate3d(0, 450%, 0);
  }
}

@-webkit-keyframes dropdown4 {
	 0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 450%, 0);
            transform: translate3d(0, 450%, 0);
  }
}

.dropdown5 {
  margin-top: 680px;
  margin-left: 5px;
  position: absolute;
  animation-name: dropdown5;
  -webkit-animation-name: dropdown5;
  animation-duration: 1.3s;
  -webkit-animation-duration: 1.3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  visibility: visible !important;
}

@media screen and (min-width: 1500px) {
  .dropdown5 {
    margin-left: 155px;
  }
}

@media screen and (min-width: 1100px) {
  .dropdown5 {
    margin-left: 55px;
  }
}

@media screen and (max-width: 805px) {
  .dropdown5 {
    display: none;
  }
}

@keyframes dropdown5 {
	0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 320%, 0);
            transform: translate3d(0, 320%, 0);
  }
}

@-webkit-keyframes dropdown5 {
	 0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 320%, 0);
            transform: translate3d(0, 320%, 0);
  }
}

.coffeecup {
  width: 15%;
  margin-top: 1140px;
  position: absolute;
}

@media screen and (min-width: 1500px) {
  .coffeecup {
    width: 20%;
  }
}

@media screen and (max-width: 1090px) {
  .coffeecup {
    width: 13%;
  }
}

@media screen and (max-width: 805px) {
  .coffeecup {
    display: none;
  }
}

#cover-page {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 350px;
  background-color: #2a3a3f;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-right: 0;
}

.design-image {
  background-image: url(../images/designpicture.png);
}

.design-image:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.design-container {
  position: relative;
  text-align: left;
  width:100%;
  height: 100%;
  padding-left: 1em;
}

.design-image h1 span {
  color: #fff;
  font-size: 5em;
  padding: 0;
  margin: 0;
  text-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.scrollto {
  display: inline-block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: .1em;
  bottom: 4%;
  left: 50%;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.scrollto a {
  text-decoration: none;
  color: #e98a02;
}

.scrollto a:hover {
  color: #3a3a3a;
}

header {
  width: 100%;
  padding-bottom: 1em;
  background: #fff;
  box-shadow: 0 8px 6px -6px #e1e1e1;
  -moz-box-shadow: 0 8px 6px -6px #e1e1e1;
  -webkit-box-shadow: 0 8px 6px -6px #e1e1e1;
}

.header-wrapper {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  order: 1;
  justify-content: flex-start;
}

@media all and (max-width: 768px) {
  .logo {
    width: 100%;
  }
  .header-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

nav ul li {
  background-color: #fff;
  padding-right: 4px;
  text-align: right;
}

nav a {
  text-decoration: none;
}

.nav-main  {
  order: 2;
  padding-left: 10.2em;
	border-top-width: .15em;
	border-top-style: solid;
	border-top-color: #000;
	margin-top: 9em
}

.nav-main ul{
  display: flex;
  justify-content: flex-end;
	margin: 0;
}

.nav-main ul li {
  font-size: 1.25em;
  letter-spacing: .2px;
  text-transform: uppercase;
  margin-left: 10px;
  padding-right: 4px;
  border-right-width: .1em;
  border-right-style: solid;
  border-right-color: #000;
}

/* smaller than 1000px */
@media all and (max-width: 1000px) {
	.nav-main {
    padding-left: 8em;
  }
}

/* smaller than 965px */
@media all and (max-width: 965px) {
	.nav-main {
    padding-left: 6em;
  }
}

/* smaller than 925px */
@media all and (max-width: 925px) {
	.nav-main {
    padding-left: 4em;
  }
}

/* smaller than 888px */
@media all and (max-width: 898px) {
	.nav-main {
    padding-left: 2em;
  }
}

/* smaller than 860px */
@media all and (max-width: 850px) {
	.nav-main {
    border: none;
  }
}

/* smaller than 768px */
@media all and (max-width: 768px) {
	.nav-main {
    width: 100%;
    border: none;
    padding: 0;
    margin-top: 0;
  }
  .nav-main ul li {
    font-size: 1.2em;
  }
}

@media all and (max-width: 584px) {
  .nav-main {
    width: 72%;
  }
}

main {
	display: flex;
  flex-wrap: wrap;
  width: 100%;
	max-width: 960px;
  padding-left: 130px;
	margin: auto;
}

main > [class^="main-"] {
  padding: 0;
}

main > [class^="main-"]:last-child {
  padding: 0;
}

.column1 {
  width: 50%;
}

.column2 {
  background-color: black;
  width: 50%;
}

.column1 img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
main h2 {
  text-align: center;
  text-transform: uppercase;
}

article {
  overflow: hidden;
}

.intro {
  background-color: #e98a02;
  padding: 40px 40px 40px 40px;
}

.content {
  text-align: justify;
  letter-spacing: 1px;
}

@media all and (max-width: 760px) {
	.intro {
    padding: 1em;
  }
  main h2 {
    font-size: 1em;
    margin: 0;
  }
  .content {
    letter-spacing: normal;
    font-size: .875em;
  }
}

@media all and (max-width: 584px) {
	main {
    flex-direction: column;
    padding-left: 0;
  }
  main h2 {
    font-size: 1.150em;
  }
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .content {
    font-size: 1.125em;
    letter-spacing: 1px;
  }
  .intro {
    background-color: #e98a02;
    padding: 10em;
  }
}

.space1 {
  background-color: #e98a02;
  padding: 10.77em;
}

.space2 {
  background-color: black;
  padding: .6em 2em .6em 2em;
}

.space3 {
  background-color: black;
  width: 100%;
  padding: 8em;
}

.space2 p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .2em;
  font-size: .750em;
  color: #e98a02;
  text-align: justify;
}

.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
	font-family: sans-serif;
	font-size: .8em;
  background-color: black;
  width: 100%;
  height: 5em;
	padding: .5em 0 0 1.5em;
}

.social ul {
  display: flex;
}

.social li {
	margin-right: 3em;
}

.social a {
	color: #e98a02;
}

.social a:hover {
	color: #9bcde8;
}

.contact {
  display: flex;
  flex-flow: row wrap;
  background-color: #809191;
  font-family: 'Raleway', sans-serif;
  color: #9bcde8;
  font-weight: bold;
  letter-spacing: .2em;
  font-size: .750em;
  width: 100%;
  padding: 1.25em;
}

.contact a {
  color: black;
  text-decoration: none;
}

.portfolio {
  display: flex;
  flex-flow: row wrap;
}

.project {
	width: 273px;
  margin: .3em;
}

.portfolio :nth-child(3n+1) {
  margin-left: 0;
}

.portfolio :nth-child(2n+1) {
  margin-right: 0;
  margin-left: 0;
}

.portfolio img {
	width: 100%;
	float: none;
	border-style: solid;
	border-color: rgba(0,0,0,0.4);
	border-width: 1px;
}

figure {
  margin: 0 auto;
}

figcaption {
  text-transform: uppercase;
  text-align: center;
  color: #e98a02;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #4c4c4c;
  width: 100%;
  background-color: grey;
  font-family: 'Raleway', sans-serif;
  font-size: .750em;
  color: #d9d9d9;
  margin-top: 2em;
  padding: 2em;
}

.footer-content {
  display: flex;
  flex-direction: row;
}

.copyright {
  width: 50%;
  }

.nav-sub {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.nav-sub ul {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.nav-sub ul li {
  background: none;
  margin-left: .5em;
  border-right-width: 1px;
}

.nav-sub li + li {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d9d9d9;
}
